backend:
  name: github
  repo: Petsampa/guy-vina-saude-integral-23
  branch: main

media_folder: "public/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/content/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Data", name: "date", widget: "datetime", required: true }
      - { label: "Imagem em destaque (JPG)", name: "image", widget: "image", required: false }
      - { label: "Resumo", name: "excerpt", widget: "text", required: false }
      - { label: "Conteúdo", name: "body", widget: "markdown" }